<%= form_tag contributors_path do %>
  <%= text_field_tag :url, nil, placeholder: 'https://github.com/rails/rails' %>
  <%= submit_tag("Search") %>
<% end %>

<h3>Results:</h3>
<ul>
  <% (0..2).each do |i| %>
    <li>
      <%= 
        link_to("#{@contributors[i]["login"]}", 
        contributor_path(format: :pdf, login: @contributors[i]["login"], 
        id: (i + 1))) 
      %>
    </li>
  <% end %>
</ul>