<%= form_tag contributors_path do %>
  <%= text_field_tag :url, nil, placeholder: 'https://github.com/rails/rails' %>
  <%= submit_tag("Search") %>
<% end %>

<h3>Results:</h3>
<ul>
  <% (0..2).each do |i| %>
    <li><%= @contributors[i]["login"] %></li>
  <% end %>
</ul>